:root {
  --primary-blue: #44cdc4;
  --light-blue: #a7b6d4;
  --dark-blue: #34435a;
  --darker-blue: #2c384e;
  --light-grey: #eae9ed;
  --dark-grey: #555555;
  --off-white: #f4f4f4;
  --white: #fff;

  --red: #d73027;
  --yellow: #fee08b;
}

h1 {
  color: var(--dark-blue);
}

h2 {
  color: var(--dark-blue);
}

h3 {
  color: var(--dark-blue);
}

h4 {
  color: var(--dark-blue);
}

h5 {
  color: var(--dark-blue);
}

h6 {
  color: var(--dark-blue);
}

.white-btn,
.blue-btn {
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 20px;
  border: 2px solid var(--primary-blue);
  margin: 5px;
}

.white-btn {
  background-color: var(--white);
  color: var(--primary-blue);
}

.shiny-input-container {
  color: var(--dark-grey);
  font-weight: 400;
}

.label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}

.content-wrapper {
  background-color: var(--light-grey);
  border-radius: 0px 0px 30px 30px;
}

.skin-blue .main-header .logo {
  background-color: var(--dark-blue);
  height: 0px;
}

.skin-blue .main-header .navbar {
  background-color: var(--white);
  height: 60px;
}

.main-sidebar {
  position: fixed;
}

.skin-blue .left-side,
.skin-blue .main-sidebar,
.skin-blue .wrapper {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px 0px 0px 100px;
}

.skin-blue .main-sidebar .sidebar .sidebar-menu a:focus {
  outline: none !important;
}

.skin-blue .sidebar-menu > li.active > a {
  background-color: var(--darker-blue);
  border-left-color: var(--darker-blue);
  border-radius: 100px 0px 0px 100px;
  color: var(--white);
}

.info {
  color: var(--primary-blue);
  background-color: var(--white);
  border-color: var(--white);
  margin-top: 5px;
  margin-right: 30px;
  font-size: 22px;
  border-radius: 100px;
}

.info:hover {
  color: var(--primary-blue);
  background-color: var(--white);
  border-color: var(--white);
}

.sidebar-toggle {
  display: none;
}

.bttn-float.bttn-royal {
  border-color: var(--primary-blue);
  background: var(--primary-blue);
  color: var(--white);
  height: 10vh;
  width: 10vh;
  border-radius: 100%;
  font-size: 30px;
}

.uploadWell {
  background-color: var(--white);
  border-color: var(--primary-blue);
  border-style: dashed;
  text-align: center;
  border-radius: 18px;
  width: 480px;
  height: auto;
  margin: auto;
}

.dataPreviewWell {
  background-color: var(--white);
  border-color: var(--primary-blue);
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  overflow-x: scroll;
}

.dataPreview {
  background-color: var(--white);
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 20vh;
  margin: auto;
  overflow: auto;
  margin-top: 10px;
}

.cleanDataPreview {
  background-color: var(--white);
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 180px;
  margin: auto;
  overflow: auto;
  margin-top: 10px;
}

.colAssignWell {
  background-color: var(--white);
  border-color: var(--primary-blue);
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.contentWell {
  background-color: var(--white);
  border-color: var(--primary-blue);
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.uploadIcon {
  font-size: 80px;
  color: var(--primary-blue);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.submitButton {
  background-color: var(--primary-blue);
  color: var(--white);
  border-color: var(--primary-blue);
  border-radius: 100px;
}

.clearButton {
  background-color: var(--white);
  color: var(--primary-blue);
  border-color: var(--primary-blue);
  border-radius: 100px;
}

.processButton {
  background-color: var(--primary-blue);
  color: var(--white);
  border-color: var(--primary-blue);
  border-radius: 100px;
  float: right;
  margin-top: 10px;
}

.resetButton {
  background-color: var(--white);
  color: var(--primary-blue);
  border-color: var(--white);
  border-radius: 100px;
  margin-top: -20px;
  float: right;
}

.resetButton:hover {
  background-color: var(--white);
  color: grey;
  border-color: var(--white);
  border-radius: 100px;
  margin-top: -20px;
  float: right;
}

.resetButton:focus {
  background-color: var(--white);
  color: var(--primary-blue);
  border-color: var(--white);
  border-radius: 100px;
  margin-top: -20px;
  float: right;
}

.btn.btn-file {
  position: relative;
  overflow: hidden;
  border-radius: 100px;
}

.progress,
.progress .progress-bar,
.progress > .progress-bar,
.progress > .progress-bar .progress-bar {
  border-radius: 100px;
  background-color: var(--primary-blue);
}

.selectize-input {
  white-space: nowrap;
}

.selectize-control.multi .selectize-input.has-items {
  padding-left: 7px;
  padding-right: 7px;
  overflow: auto;
}

.table {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 12px;
  color: var(--dark-blue);
  white-space: nowrap;
}

.nav-icon {
  font-weight: 900;
  width: 30px;
  margin-left: 30px;
}

.container {
  display: flex;
  align-items: center;
  font-size: 50px;
  width: 100%;
}

.container .icon {
  flex-grow: 1;
  margin-left: 10vw;
  text-align: center;
}

.container .button {
  text-align: right;
  margin-right: auto;
}

.quickDateButton {
  background-color: var(--off-white);
  min-width: 35px;
  margin: 1px;
  border-radius: 10px;
  padding: 3px 4x;
  font-size: 9px;
}

.quickDateButtonDiv {
  margin-bottom: 12px;
}

/* AB Legend Items */
.legendWell {
  max-width: 270px;
  float: left;
  background-color: var(--white);
  border-color: var(--primary-blue);
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.legend-title {
  text-align: center;
}

.legend-section {
  display: flex;
  flex-direction: column;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.legend-circle {
  font-size: 20px;
  color: var(--darker-blue);
}

.legend-label {
  font-size: 12px;
  color: var(--dark-grey);
  margin-left: 10px;
}

.opacity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 60px;
}

.opacity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-divider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-left: 1px dotted var(--darker-blue);
  height: 30px;
}

.legendColorBlock {
  font-size: 15px;
  margin-left: 5px;
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child {
  border-radius: 100px 0px 0px 100px;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-radius: 0px 100px 100px 0px;
}

.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single {
  color: #333333;
  text-shadow: none;
  padding: 1px 3px;
  background-color: transparent;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.333;
  font-family: "Carme";
  font-weight: bolder;
}

.irs--shiny .irs-bar {
  top: 25px;
  height: 8px;
  border-top: 1px solid var(--primary-blue);
  border-bottom: 1px solid var(--primary-blue);
  background: var(--primary-blue);
  cursor: s-resize;
  z-index: 2;
}

.irs--shiny .irs-min,
.irs--shiny .irs-max {
  top: 0;
  padding: 1px 3px;
  text-shadow: none;
  background-color: transparent;
  border-radius: 3px;
  font-size: 0px;
  line-height: 1.333;
}

.exploreFiltersWell {
  background-color: var(--white);
  border-color: var(--primary-blue);
  text-align: center;
  border-radius: 10px;
  margin: auto;
  max-height: auto;
  max-width: 480px;
  margin-top: 10px;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

.activeFilters {
  display: inline-block;
  padding: 4px 8px;
  margin: 1px;
  background-color: #fff0f5;
  color: tomato;
  border-radius: 12px;
}

.homeContainer {
  width: calc(100vw - 229px);
  height: 100vh;
  margin: -15px;
  background-color: var(--white);
  overflow: hidden;
  position: relative;
}

.homeHeader {
  width: 100%;
  height: 50%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/homeHeaderImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.homeHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 205, 196, 0.85); /* Adjust the alpha value here */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  z-index: 1;
}

.homeHeader * {
  position: relative;
  z-index: 2;
}

.homeButtons {
  font-size: 20px;
  border-radius: 1000px;
  height: 10vw;
  width: 10vw;
  margin: 10px;
  color: transparent;
  border-width: 2px;
  border-color: var(--primary-blue);
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
  background-size: cover;
  background-position: center;
}

.homeButtons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 205, 196, 0.5);
  z-index: 1;
  transition: background-color 0.3s;
  background-size: cover;
  background-position: center;
}

.homeButtons:hover::before {
  background-size: 0px;
  background-color: transparent;
}

.homeButtons:hover {
  background-size: 0px;
  color: var(--primary-blue);
}

.mdrLegend {
  height: 30px;
  background: linear-gradient(
    to right,
    tomato,
    pink,
    var(--off-white),
    var(--primary-blue),
    var(--dark-blue)
  );
  border: 1px solid #ccc;
}
.mdrLegendLabels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: var(--white);
  cursor: default;
  background-color: var(--primary-blue);
  border: 0px;
  border-radius: 45px;
}

.nav-tabs > li > a {
  margin-right: 6px;
  border-radius: 45px;
  border-color: var(--primary-blue);
  color: var(--primary-blue);
  font-size: 12px;
}

.nav-tabs {
  border-bottom: 0px;
}

.pretty .state label:after,
.pretty .state label:before {
  border-radius: 10px;
}

.pretty.p-default input:checked ~ .state label:after {
  background-color: var(--primary-blue) !important;
}

.sweet-alert.alert-size-s {
  border-radius: 20px;
}

.alert .confirm {
  background-color: var(--primary-blue) !important;
  color: var(--white) !important;
}

.plotSaveButton {
  float: right;
  border-radius: 25px;
  color: var(--white);
  background-color: var(--primary-blue);
  border-color: var(--white);
  font-size: 12px;
  margin-top: 10px;
}

.dataSaveButton {
  float: right;
  border-radius: 25px;
  color: var(--white);
  background-color: var(--primary-blue);
  border-color: var(--white);
  font-size: 14px;
  margin-top: 10px;
}

#import-modal-footer > button,
.changeLogButton {
  border-radius: 25px;
  color: var(--white);
  background-color: var(--primary-blue);
  border-color: var(--white);
  font-size: 14px;
  margin-top: 10px;
}

.changeLogButton.white {
  border-color: var(--primary-blue);
  background-color: var(--white);
  color: var(--primary-blue);
}

.panel-group .panel {
  margin-bottom: 0;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid var(--primary-blue);
}

.panel-default > .panel-heading {
  color: var(--dark-blue);
  background-color: var(--white);
  border: 0px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

.ab-table-wrapper {
  text-align: center;
  align-content: center;
  padding: 10px;
  width: auto;
}

.ab-table-wrapper .dataTable {
  width: auto;
  table-layout: auto;
}

.ab-table-wrapper .dataTables_wrapper {
  width: auto;
  display: block;
}

#summary-stats-table-container table {
  border-collapse: collapse;
  width: auto;
  margin-top: 10px;
  font-size: 12px;
}

#summary-stats-table-container th {
  font-weight: bold;
  color: var(--primary-blue);
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

#summary-stats-table-container td {
  border: none !important;
  padding: 6px 12px;
}

#summary-stats-table-container td:first-child {
  font-weight: bold;
  color: var(--primary-blue);
  font-size: 14px;
}

#summary-stats-table-container td:last-child {
  font-weight: normal;
  color: #333;
}

/* Change log table */

.changelog-table table tbody tr td:first-child,
.changelog-table table tbody tr td:last-child {
  /* Stop original name and action columns from being clickable */
  pointer-events: none;
}

.changelog-table table tbody tr td:nth-child(2) {
  /* Add border inside cell to mimic text input */
  position: relative;
  padding: 0.8rem 1rem;
  cursor: pointer;
}

.changelog-table table tbody tr td:nth-child(2)::before {
  /* Style the renamed column to be more visually obviously editable */
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.4rem;
  width: calc(100% - 1rem);
  height: calc(100% - 0.8rem);
  border: 1px solid grey;
}

.changelog-table table tbody tr td:nth-child(2) input {
  /* Remove default input styles */
  border: none;
  outline: none;
  background: transparent;
}

.readonly-table {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.align-end-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}
/* Modal footer styles */
#import-modal-footer .warning-parent {
  text-align: left;
}

#import-modal-footer .warning-parent > p {
  color: red;
  display: none;
}

#import-modal-footer.microorganism-close-disabled .microorganism-warning,
#import-modal-footer.antimicrobial-close-disabled .antimicrobial-warning {
  display: block;
  text-wrap: nowrap;
}

#import-modal-footer.microorganism-close-disabled .btn,
#import-modal-footer.antimicrobial-close-disabled .btn {
  pointer-events: none;
  opacity: 0.5;
}

/** Custom Breakpoints Container */
.custom-breakpoints-container {
  border-top: 1px solid var(--primary-blue);
  padding-top: 5px;
}

.custom-breakpoints-container > label {
  font-weight: bold;
}

.custom-breakpoints-container:first-child > div > div {
  padding: 0;
}

.custom-breakpoints-container > div:last-child .btn {
  width: fit-content;
}

.collapse-btn:hover,
.collapse-btn:focus,
.collapse-btn:active,
.collapse-btn:active:focus,
.collapse-btn {
  border: none;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  font-weight: bold;
}

#custom-bp-upload-container {
  display: flex;
  align-items: start;
  gap: 1rem;
}

#custom-bp-upload-container > button {
  padding: 5px;
  margin: 0;
  height: fit-content;
  line-height: 0;
  margin-top: 25px;
}
